In [1]:
import requests
exec(requests.get('http://miruetoto.github.io/my_code/datahandling.py').text)
%load_ext rpy2.ipython
%R library(devtools)

R[write to console]: Loading required package: usethis

array(['devtools', 'usethis', 'tools', 'stats', 'graphics', 'grDevices',
       'utils', 'datasets', 'methods', 'base'], dtype='<U9')

In [5]:
A=initpd("n",n=10,p=5)
push(A,"A")
A

         X1        X2        X3        X4        X5
0 -0.371680  0.876046 -2.004898  1.694844 -1.963959
1  0.972377 -1.110529 -0.017706 -1.571943  0.869095
2 -0.650835  0.917589  0.918855 -1.639189 -0.159232
3 -0.092715 -2.210843 -0.244971  0.898503 -0.703499
4 -1.141552 -1.754273  1.712666 -0.152276 -0.257199
5 -0.499000  1.877311 -1.445074 -2.059666  0.512256
6  0.009580  0.108993 -1.129719 -1.390888  1.717772
7  1.092618 -0.650037 -0.558025  0.674181 -0.159306
8  0.004764  0.537981  2.314565  1.653040  0.150003
9  0.475280 -0.881807 -0.347492 -1.176708 -1.092068

In [6]:
%%R 
library(tidyverse)
select(A,-(X1:X3))

          X4         X5
0  1.6948445 -1.9639589
1 -1.5719428  0.8690947
2 -1.6391890 -0.1592319
3  0.8985033 -0.7034988
4 -0.1522756 -0.2571991
5 -2.0596655  0.5122561
6 -1.3908877  1.7177715
7  0.6741807 -0.1593060
8  1.6530397  0.1500032
9 -1.1767079 -1.0920679

In [9]:
%%R 
select(A,-(1:3))

          X4         X5
0  1.6948445 -1.9639589
1 -1.5719428  0.8690947
2 -1.6391890 -0.1592319
3  0.8985033 -0.7034988
4 -0.1522756 -0.2571991
5 -2.0596655  0.5122561
6 -1.3908877  1.7177715
7  0.6741807 -0.1593060
8  1.6530397  0.1500032
9 -1.1767079 -1.0920679

In [10]:
%%R 
select(A,c(-1,-2,-3))

          X4         X5
0  1.6948445 -1.9639589
1 -1.5719428  0.8690947
2 -1.6391890 -0.1592319
3  0.8985033 -0.7034988
4 -0.1522756 -0.2571991
5 -2.0596655  0.5122561
6 -1.3908877  1.7177715
7  0.6741807 -0.1593060
8  1.6530397  0.1500032
9 -1.1767079 -1.0920679