In [1]:
import requests
exec(requests.get('http://miruetoto.github.io/my_code/dataHandling.py').text)

In [2]:
A=initpd("n",n=10,p=5)
A

         X1        X2        X3        X4        X5
0  0.358207  1.906977 -2.409734 -0.294687 -0.933446
1  0.056839 -1.462403  0.899348  0.811920 -0.223133
2  1.453070 -0.596237 -0.764537  0.287145 -0.357971
3 -0.452381  0.434734 -1.316335 -1.053174  0.743521
4  0.021172 -0.000259  0.173121  0.856596 -0.198551
5 -0.338027 -1.529828 -0.237119 -1.602923  1.244829
6  0.747193 -0.549894  0.189194 -1.450881  1.245443
7 -0.592765 -0.204235  0.613097 -0.666143 -0.296184
8 -0.810642 -1.011082 -1.035960 -1.373954 -0.583566
9 -0.633714  2.284728  0.018455  0.854410 -1.279628

In [3]:
cbind(A.X1,A['X1'],A.loc[:,'X1'],A.iloc[:,0])

matrix([[ 0.35820728,  0.35820728,  0.35820728,  0.35820728],
        [ 0.05683921,  0.05683921,  0.05683921,  0.05683921],
        [ 1.45306986,  1.45306986,  1.45306986,  1.45306986],
        [-0.45238132, -0.45238132, -0.45238132, -0.45238132],
        [ 0.02117193,  0.02117193,  0.02117193,  0.02117193],
        [-0.33802744, -0.33802744, -0.33802744, -0.33802744],
        [ 0.74719286,  0.74719286,  0.74719286,  0.74719286],
        [-0.59276541, -0.59276541, -0.59276541, -0.59276541],
        [-0.81064161, -0.81064161, -0.81064161, -0.81064161],
        [-0.63371406, -0.63371406, -0.63371406, -0.63371406]])